/*This is the menu of the web*/

header {
    background: whitesmoke;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    justify-content: right;
    align-items: right;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    margin: 5px;
}