/*This is the menu of the web*/

header {
    background: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 100;
    align-items: right;
    align-content: right;
    border: 2px solid black;
    padding: 20px;
    display: flex;
}