/*This is the menu of the web*/

header {
    background: whitesmoke;
    width: 100%;
    height: auto;
    position: center;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    margin: 5px;

    justify-content: space-between;

    font-family: Century;
    font-size: 30px;
    font-weight: bold;
}

.UI_icons{
    align-items: right;
}

.text{
    text-align: center;
}


/*header {
    background: whitesmoke;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    margin: 5px;

    justify-content: center;

    font-family: Century;
    font-size: 30px;
    font-weight: bold;
}

.UI_icons{
    align-items: right;
    justify-content: right;
}

.text{
    text-align: center;
}
*/