<!doctype html>
<title>{% block title %}{% endblock %} - Ghost Simulator</title>

<!--- Responsive Platform --->
<meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt>

<meta charset="utf-8">
<meta name="robots" content="noindex">

<!--- Favicon --->
<link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
<link rel="manifest" href="./images/site.webmanifest">
<meta name="msapplication-TileColor" content="#fade95">
<meta name="theme-color" content="#fade95">

<!--- Check JavaScript --->
<noscript>
	<meta http-equiv="refresh" content="0;URL='./javascript_disabled.html'" />
</noscript>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!--- Content --->

<a href="./"><img src="/images/Archery_Ghost_Simulator.png" alt="ghost simulator logo" width="40" height="40"></img></a>
<h1>Archery Ghost Simulator</h1>
  <div class="UI_icons">
      <a href="/about.html"><img src="/images/ui_icons/info.svg" alt="about"><img></a>
      <a href="/settings.html"><img src="/images/ui_icons/settings.svg" alt="settings"><img></a>
      <a href="https://ghostsimulator.eu.auth0.com/oidc/logout"><img src="/images/ui_icons/log-out.svg" alt="logout"><img></a>
  </div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
