body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fade95;
}

.message {
    margin: 100px auto;
    width: 700px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: "Century Gothic";
    font-size: 14px;
    color: #333;
    background-color: white;
    align-items: center;
    text-align: center;
}

.message .header {
    font-size: 24px;
    font-weight: bold;
}

.message .body {
    font-size: 20px;
    line-height: 1.5;
}

.message .color-red {
    font-size: 20px;
    line-height: 1.5;
    color: red;
}
.message .bold_text {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Buttons */

/*Default*/

.default_button {
    font-size: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    align-items: right;
  }
  
  .default_button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #fade95;
    z-index: -1;
  }
  
  .default_button:hover, button:focus {
    color: black;
  }
  
  .default_button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .default_button:active {
    transform: scale(0.9);
  }

  /* Destroy Button */
  .destroy_button {
    font-size: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid red;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    align-items: right;
  }
  
  .destroy_button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: red;
    z-index: -1;
  }
  
  .destroy_button:hover, button:focus {
    color: black;
  }
  
  .destroy_button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .destroy_button:active {
    transform: scale(0.9);
  }

  /* Email Form */

  .coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus {
  outline: none;
}